<!-- HOME PAGE DECORATION -->
<header class="header">
    <div class="header-wrapper">
        <nav class="navbar">
            <div class="logo">
                <a routerLink="/home" style="text-decoration: none;">
                    <div class="logo-text">
                        <!-- <img src="#" alt="Full Stack Developer" class="logo-image"> -->
                        <span class="logo-name">Java &rAarr; Spring Boot &race; Software Eng.</span>
                    </div>
                </a>
            </div>
            <ul class="navigation">
                <li class="navigation-item"><a routerLink="/home" class="navigation-link">Introduction</a></li>
                <li class="navigation-item"><a routerLink="/experience" class="navigation-link">Experience</a></li>
                <li class="navigation-item"><a routerLink="/project" class="navigation-link">Project</a></li>
                <li class="navigation-item"><a routerLink="/service" class="navigation-link">Service</a></li>
                <li class="navigation-item"><a routerLink="/contact" class="navigation-link">Contact Info</a></li>
            </ul>
        </nav>
    </div>
</header>